body {
    background-color: #606060;
}

console .border {
    position: absolute;
    background-color: #6080F0;
    height: 250px;
    width: 380px;
    top: 0px;
    left: 0px;
    border: 0;
    padding: 0;
    margin: 0;
}

console .background {
    background-color: #2020C0;
    position: absolute;
    height: 200px;
    width: 320px;
    top: 25px;
    left: 30px;
    border: 0;
    padding: 0;
    margin: 0;
}

console .foreground {
    background-color: transparent;
    position: absolute;
    color: #6080F0;
    height: 200px;
    width: 320px;
    aspect-ratio: auto 320 / 200;
    top: 25px;
    left: 30px;
    border: 0;
    padding: 0;
    margin: 0;
}
